#canvas {
    background: rgb(54, 52, 52);
    border: 5px solid white;
    height: 400px;
    width: 900px;
    margin-bottom: 2em;
}

#title_canvas  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 5px;

    font-family: cursive;
}


#submit {
    
    font-family: cursive;
    height: 4vh;
}


#record {
    
    font-family: cursive;
    height: 4vh;
}

#vol-slider {
    
    height: 5vh;
}

#color {
    height: 8vh;

}

.left {
    align-items: center;
    display: flex;
    justify-content: left;
    text-align: center;
    flex-direction: column;
    gap: 5px;

    font-family: cursive;
}

.right {
    align-items: center;
    display: flex;
    justify-content: right;
    text-align: center;
    flex-direction: column;
    gap: 5px;

    font-family: cursive;
}

p {
    height: 5vh;
    font-family: cursive;
}

body {
    background-image: url("oscillator-background.png")
}

