#canvas {
    background: rgb(54, 52, 52);
    border: 5px solid white;
    height: 400px;
    width: 900px;
    margin-bottom: 2em;
}

#title_canvas  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 5px;

    font-family: cursive;
}

/*#all {
    display: flex;
    flex-direction: column;
} WORK HERE */


#submit {
    
    font-family: cursive;
    height: 4vh;

    align-items: center;
    display: flex;
    justify-content: left;
    text-align: center;
    flex-direction: column;
    gap: 5px;

    font-family: cursive;

    position: absolute;
    left: 50px;
}


#record {
    
    font-family: cursive;
    height: 4vh;

    align-items: center;
    display: flex;
    justify-content: left;
    text-align: center;
    flex-direction: column;
    gap: 5px;

    font-family: cursive;

    position: absolute;
    left: 50px;
}


#right {


    align-items: center;
    display: flex;
    justify-content: left;
    text-align: center;
    flex-direction: column;
    gap: 5px;

    font-family: cursive;

    position: absolute;
    right: 50px;
}


p {
    height: 5vh;
    font-family: cursive;
}

body {
    background-image: url("oscillator-background.png")
}

